form {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-flow: column;
  width: 50%;
  /* justify-content: center; */
  margin: auto;
  margin-top: 5rem;
}

button {
  border: 1px solid grey;
  padding: 1rem;
}

form input[type='text'] {
  height: 4rem;
  /* border-radius: 10px;
  border-color: #5c635f; */
}

form input::placeholder {
  font-size: 2rem;
}

#sub {
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: #ffffff;
}
